/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

:root .theme_dark {
  --accent-color: #ff0070;
  --decorated-zone-border-color: #ff0070;
  --heading-color: #db00ff;
  --font-family: "IBM Plex Mono";
  --background-page-color: #000028;
  --title-accent-color: #ff0070;
  --section-content-text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-active-color: #ff0070;
  --button-hover-color: rgb(255 0 122 / 0.4);
  --button-focus-color: #ff0070;
  --header-content-text-color: #000028;
  --link-shadow-color: #ff0070;
  --link-hover-color: #f1b2ce;
  --link-focus-color: #f1b2ce;
  --display: visible;
}

.page.theme_dark {
  background-image: url("../images/cover-image-dark.png");

}