/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family, IBM Plex Mono, monospace);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--background-page-color, #000028);
  background-image: url("../images/cover-image-dark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 41.75rem;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--decorated-zone-border-color, #ff0070);
  border-block-start: 1px solid var(--decorated-zone-border-color, #ff0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--decorated-zone-border-color, #ff0070);
  border-block-end: 1px solid var(--decorated-zone-border-color, #ff0070);
  inset-block-end: 10px;
  inset-inline-start: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.header__decorative-item {
  position: absolute;
  display: var(--display);
  color: var(--accent-color, #ff0070);
  line-height: 25px;
  text-transform: uppercase;
  inset-inline-end: 38px;
  inset-block-start: 10px;
}

.header__decorative-item::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inset-block-start: 8px;
  inset-inline-end: -20px;
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--button-color, #ff0070);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-active-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color, rgb(255 0 122 / 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-focus-color, #ff0070);
  outline: none;
}

.heading {
  align-self: center;
  color: var(--heading-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header_content {
  justify-self: end;
  align-self: center;
  color: var(--header-content-text-color, #000028);
  font-weight: 700;
  line-height: 23.4px;
  inline-size: calc(355px + (1024 - 375) * ((100vw - 375px) / (1024 - 375)));
  max-inline-size: 364px;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}

.main {
  padding: 10px;
}

.main__section {
  padding-block-start: 30px;
}

.main__section-concentration {
  display: grid;
}

.section__title {
  color: var(--title-accent-color, #ff0070);
  font-size: 18px;
  line-height: 23.4px;
}

.section__list {
  justify-self: end;
  padding-block-start: 20px;
}

.size__item {
  inline-size: 100%;
}

.size__item-block,
.section__subtitle.width {
  inline-size: 100%;
}

.section__subtitle {
  color: #000028;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
}

.section_content {
  padding-block-start: 10px;
  padding-block-end: 20px;
  color: var(--section-content-text-color, #f1b2ce);
  line-height: 23.4px;
}

.link-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color, #ff0070);
}

.link-decor:hover {
  border-bottom: 1px solid var(--link-hover-color, #f1b2ce);
}

.link-decor:focus {
  outline: none;
}

.link-decor:focus-visible {
  outline: 1px solid var(--link-focus-color, #f1b2ce);
  outline-offset: 2px;
}

.section__size {
  max-inline-size: 355px;
}

.list__tips {
  padding-block-start: 20px;
}

.list__tips-title {
  color: #000028;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
}

.list__image {
  display: grid;
  justify-content: center;
  gap: 10px;
  padding-block-start: 10px;
}

.img__flow {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.list__image-item:last-child {
  padding-block-end: 30px;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.shadow {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (min-width: 768px) {
  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main__section {
    padding-block-start: 40px;
  }

  .main__section-concentration {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__section-gold {
    padding-block-start: 60px;
  }

  .size__item {
    max-inline-size: 648.92px;
  }

  .size__item-block {
    max-inline-size: 649.92px;
  }

  .section__size {
    padding-block-start: 20px;
    max-inline-size: 236px;
  }

  .section__list {
    justify-self: start;
    padding-block-start: 0;
  }

  .section__title {
    padding-block-end: 20px;
  }

  .header {
    padding: 20px;
  }

  .main {
    padding: 20px;
  }

  .img__flow {
    block-size: 100%;
  }

  .list__image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-block-start: 20px;
    padding-block-end: 40px;
  }

  .img_sunset {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
  }

  .img_ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .img_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .img_books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .img_street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .list__image-item:first-child {
    padding-block-start: 0px;
  }

  .list__image-item:last-child {
    padding-block-end: 0px;
  }

  .heading__position {
    position: relative;
    inset-inline-start: -20px;
  }

  .header__decorative-item {
    inset-inline-end: 50px;
    inset-block-start: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header_content {
    inline-size: calc(364px + (1024 - 768) * ((100vw - 768px) / (1024 - 768)));
    max-inline-size: 491px;
  }

  .footer {
    padding: 20px;
    min-block-size: 1024px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: start;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main__section-concentration {
    grid-template-columns: 1fr 2.05fr;
  }

  .section__size {
    max-inline-size: 315px;
  }
  
  .grid_finish {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .list__tips {
    inline-size: 100%;
  }

  .size__item {
    inline-size: 100%;
    max-inline-size: 1440px;
  }

  .footer {
    min-block-size: 768px;
  }
}
